---
import config from 'virtual:starlight/user-config'
import type { Props } from '@astrojs/starlight/props'

import LanguageSelect from '../user-components/LanguageSelect.astro'
import Search from 'virtual:starlight/components/Search'
import ThemeSelect from '../user-components/ThemeSelect.astro'
import IconGithub from './../user-components/icons/icon-github.astro'

type Platform = keyof NonNullable<typeof config.social>
type SocialConfig = NonNullable<NonNullable<typeof config.social>[Platform]>
const links = Object.entries(config.social || {}) as [Platform, SocialConfig][]

const github = links.find(([platform]) => platform === 'github') || ({} as any)
---

<h1>
  <a href={`/${Astro.props.locale}` || '/'}>
    {config.title}
  </a>
</h1>

<menu role="menubar">
  {
    config.pagefind && (
      <li class="search">
        <Search {...Astro.props} />
      </li>
    )
  }

  {
    github && (
      <li class="socials">
        <a
          rel="me"
          title="Repository on Github"
          href={github[1]?.url}
        >
          <IconGithub aria-label="Github icon" />
        </a>
      </li>
    )
  }

  <li><ThemeSelect {...Astro.props} /></li>
  <li><LanguageSelect {...Astro.props} /></li>
</menu>

<style>
  h1 {
    font-size: var(--font-size-1);
    line-height: var(--line-height-2);
    font-weight: var(--font-weight-1);
    padding-inline: var(--padding-inline-1);
    padding-block: var(--padding-block-1);
    border: 1px solid transparent;
    padding-inline-start: calc(var(--padding-inline-1) * 2);

    @media (--breakpoint-sm-only) {
      z-index: var(--z-index-3);
      min-inline-size: initial;
      max-inline-size: max-content;
      padding-block: var(--padding-block-2);
    }

    & a {
      text-decoration: none;
      white-space: nowrap;
      font-size: var(--font-size-1);
    }
  }

  menu {
    display: flex;
    align-items: center;
    column-gap: var(--column-gap-1);
    max-inline-size: var(--inline-size-5);
    inline-size: 100%;
    margin-inline: auto;
    padding-inline-start: var(--padding-inline-1);
    list-style: none;

    @media (--breakpoint-sm-n-above) {
      padding-inline-end: var(--padding-inline-2);
    }

    @media (--breakpoint-sm-only) {
      inline-size: initial;
      margin-inline-end: calc(var(--line-height-2) + var(--space-inline-3));
    }
  }

  :global(body:not([data-mobile-main-navigation-on])) {
    & menu {
      @media (--breakpoint-sm-n-above) {
        & li:first-child {
          width: 100%;
          max-inline-size: calc(100% - var(--inline-size-2));
          margin-inline-end: auto;
        }
      }
      @media (--breakpoint-sm-only) {
        & :not(.search) {
          display: none;
        }
      }
    }
  }

  :global(body[data-mobile-main-navigation-on]) {
    @media (--breakpoint-sm-only) {
      & menu {
        z-index: var(--z-index-3);
        position: fixed;
        inset: auto 0 0 0;
        place-content: center;
        margin: auto;
        padding-inline-start: 0;
      }
    }
  }

  .socials a {
    display: block;
    aspect-ratio: var(--aspect-ratio-square);
    font-size: var(--line-height-1);
  }
</style>
