---
import config from 'virtual:starlight/user-config'
import type { Props } from '@astrojs/starlight/props'

import LanguageSelect from '../user-components/LanguageSelect.astro'
import Search from 'virtual:starlight/components/Search'
import ThemeSelect from '../user-components/ThemeSelect.astro'

import IconGithub from './../user-components/icons/icon-github.astro'

type Platform = keyof NonNullable<typeof config.social>
type SocialConfig = NonNullable<NonNullable<typeof config.social>[Platform]>
const links = Object.entries(config.social || {}) as [Platform, SocialConfig][]

const github = links.find(([platform]) => platform === 'github') || ({} as any)
---

<h1>
  <a href={`/${Astro.props.locale}` || '/'}>
    {config.title}
  </a>
</h1>

<menu role="menubar">
  {
    config.pagefind && (
      <li>
        <Search {...Astro.props} />
      </li>
    )
  }

  {
    github && (
      <li class="socials">
        <a
          rel="me"
          title="Repository on Github"
          href={github[1]?.url}
        >
          <IconGithub aria-label="Github icon" />
        </a>
      </li>
    )
  }

  <li><ThemeSelect {...Astro.props} /></li>
  <li><LanguageSelect {...Astro.props} /></li>
</menu>

<style>
  h1 {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-1);
    min-width: calc(300px - 2 * var(--space-block-1));

    & a {
      text-decoration: none;
    }
  }

  menu {
    display: flex;
    align-items: center;
    column-gap: var(--column-gap-1);
    max-inline-size: 900px;
    inline-size: 100%;
    margin-inline: auto;

    /* reset */
    list-style: none;
    padding-inline-start: inherit;

    & li:first-child {
      flex-grow: 1;
      max-width: calc(100% - 300px);
      margin-inline-end: auto;
    }
  }

  .socials a {
    display: block;
    aspect-ratio: var(--aspect-ratio-square);
    font-size: var(--line-height-1);
  }
</style>
