---
import MainNavigation from '../user-components/MainNavigation.astro'

const { hasSidebar } = Astro.props
---

<div>
  <header>
    <slot name="header" />
  </header>

  {
    hasSidebar && (
      <MainNavigation class="main-navigation">
        <slot name="sidebar" />
      </MainNavigation>
    )
  }

  <slot />
</div>

<style>
  div {
    display: grid;
    column-gap: var(--column-gap-2);
    grid-template-columns: var(--inline-size-3) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'heading heading'
      'sidebar main';

    max-block-size: 100dvh;

    @media (--breakpoint-sm-only) {
      column-gap: 0;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas:
        'heading sidebar'
        'main main';
    }
  }

  header {
    grid-area: heading;

    display: flex;
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 1;
    column-gap: var(--column-gap-2);
    padding: var(--padding-1);

    @media (--breakpoint-sm-only) {
      justify-content: space-between;
    }
  }

  main {
    grid-area: main;

    grid-column: 2;
    grid-row: 2;
  }

  .main-navigation {
    grid-area: sidebar;

    grid-column: 1;
    grid-row: 2;
  }
</style>
