---
const { hasSidebar } = Astro.props
---

<!-- <slot name="header" /> -->
<header class="surface-1">
  <p>--color-surface-1</p>
  <div class="surface-2">
    <p>--color-surface-2</p>
    <div class="surface-3">
      <p>--color-surface-3</p>
      <div class="surface-4">
        <p>--color-surface-4</p>
        <div class="surface-5">
          <p>--color-surface-5</p>
        </div>
      </div>
    </div>
  </div>
</header>

<header class="neutral-1">
  <p>--color-neutral-1</p>
  <div class="neutral-2">
    <p>--color-neutral-2</p>
    <div class="neutral-3">
      <p>--color-neutral-3</p>
      <div class="neutral-4">
        <p>--color-neutral-4</p>
        <div class="neutral-5">
          <p>--color-neutral-5</p>
        </div>
      </div>
    </div>
  </div>
</header>

{
  hasSidebar && (
    <aside>
      <slot name="sidebar" />
    </aside>
  )
}

<slot />

<style>
  :global(html) {
    /* overrides */

    /* --color-surface: color(display-p3 0 0.0001 0.01);
    --color-surface-mix: lightblue; */

    /* --color-neutral: red;
    --color-neutral-mix: pink; */
  }
  header {
    /* colors surface */

    &.surface-1 {
      background-color: var(--color-surface-1);
    }

    & div {
      padding: var(--padding-1);
      margin-block-start: var(--space-block-1);
    }

    & div.surface-2 {
      background-color: var(--color-surface-2);
    }

    & div.surface-3 {
      background-color: var(--color-surface-3);
    }

    & div.surface-4 {
      background-color: var(--color-surface-4);
    }

    & div.surface-5 {
      background-color: var(--color-surface-5);
    }

    /* color neutral */

    &.neutral-1 {
      background-color: var(--color-neutral-1);
    }

    & div.neutral-2 {
      background-color: var(--color-neutral-2);
    }

    & div.neutral-3 {
      background-color: var(--color-neutral-3);
    }

    & div.neutral-4 {
      background-color: var(--color-neutral-4);
    }

    & div.neutral-5 {
      background-color: var(--color-neutral-5);
    }

    /* spacings */

    padding: var(--padding-1);
    margin: var(--margin-1);

    font-family: var(--font-sans);
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-1);

    z-index: var(--z-index-1);

    /* layers */
    &::before {
      z-index: var(--z-index-01);
    }
  }
</style>
