---
const { hasSidebar } = Astro.props
---

<header>
  <slot name="header" />
</header>

<details>
  <summary>
    <h2>Surface</h2>
    <span class="surface-1"><small>A<span>a</span></small></span>
    <span class="surface-2"></span>
    <span class="surface-3"></span>
    <span class="surface-4"></span>
    <span class="surface-5"></span>
  </summary>
  <p class="surface-1">--color-surface-1</p>
  <p class="surface-2">--color-surface-2</p>
  <p class="surface-3">--color-surface-3</p>
  <p class="surface-4">--color-surface-4</p>
  <p class="surface-5">--color-surface-5</p>
</details>

<details>
  <summary>
    <h2>Neutral</h2>
    <span class="neutral-1"><small>A<span>a</span></small></span>
    <span class="neutral-2"></span>
    <span class="neutral-3"></span>
    <span class="neutral-4"></span>
    <span class="neutral-5"></span>
  </summary>
  <p class="neutral-1">--color-neutral-1</p>
  <p class="neutral-2">--color-neutral-2</p>
  <p class="neutral-3">--color-neutral-3</p>
  <p class="neutral-4">--color-neutral-4</p>
  <p class="neutral-5">--color-neutral-5</p>
</details>

<details>
  <summary>
    <h2>Negative</h2>
    <span class="negative-1"><small>A<span>a</span></small></span>
    <span class="negative-2"></span>
    <span class="negative-3"></span>
    <span class="negative-4"></span>
    <span class="negative-5"></span>
  </summary>
  <p class="negative-1">--color-negative-1</p>
  <p class="negative-2">--color-negative-2</p>
  <p class="negative-3">--color-negative-3</p>
  <p class="negative-4">--color-negative-4</p>
  <p class="negative-5">--color-negative-5</p>
</details>

<details>
  <summary>
    <h2>Positive</h2>
    <span class="positive-1"><small>A<span>a</span></small></span>
    <span class="positive-2"></span>
    <span class="positive-3"></span>
    <span class="positive-4"></span>
    <span class="positive-5"></span>
  </summary>
  <p class="positive-1">--color-positive-1</p>
  <p class="positive-2">--color-positive-2</p>
  <p class="positive-3">--color-positive-3</p>
  <p class="positive-4">--color-positive-4</p>
  <p class="positive-5">--color-positive-5</p>
</details>

<details>
  <summary>
    <h2>Accent</h2>
    <span class="accent-1"><small>A<span>a</span></small></span>
    <span class="accent-2"></span>
    <span class="accent-3"></span>
    <span class="accent-4"></span>
    <span class="accent-5"></span>
  </summary>
  <p class="accent-1">--color-accent-1</p>
  <p class="accent-2">--color-accent-2</p>
  <p class="accent-3">--color-accent-3</p>
  <p class="accent-4">--color-accent-4</p>
  <p class="accent-5">--color-accent-5</p>
</details>

<div class="ex">
  <div>
    <strong>Notification</strong>: Enail sent with success.
    <button [data-ok]>Undo</button>
  </div>
</div>

{
  hasSidebar && (
    <aside>
      <slot name="sidebar" />
    </aside>
  )
}

<slot />

<style>
  @import './../../finess/props/media/media.css';

  div .ex > div {
    --space-multiplier: 1;

    background-color: var(--color-positive-1);
    border: 3px solid var(--color-positive-2);
    border-radius: 8px;
    padding: var(--padding-1);
    max-width: fit-content;
    color: var(--color-positive-4-on);
  }

  button {
  }

  :global(html) {
    /* overrides */

    /* --color-surface: color(display-p3 0 0.0001 0.01);
    --color-surface-mix: lightblue; */

    & body {
      background-color: Canvas;
      color: CanvasText;

      @media (--light) {
        background-color: CanvasText;
        color: Canvas;
      }
    }
  }

  div {
    --space-multiplier: 1;

    margin-block-start: var(--margin-block-1);
  }

  p {
    --space-multiplier: 0.65;
    --color-border: color-mix(in hsl longer hue, var(--color), 6.5% white);

    display: flex;
    align-items: center;
    column-gap: var(--column-gap-1);
    padding: var(--padding-1);
  }

  p {
    background-color: var(--color);

    /* content: '';
    height: var(--line-height-1);
    aspect-ratio: var(--ratio-square);
    background-color: var(--color);
    border-radius: var(--border-radius-2);
    border: var(--border-1) solid var(--color-border); */
  }

  details {
    border-block-start: var(--border-1) solid var(--color-surface-3);
    padding-inline: var(--padding-1);

    &[open] summary {
      /* display: flex; */
      border-block-end: var(--border-1) solid var(--color-surface-3);
    }

    & p {
      border-block-end: var(--border-1) solid
        color-mix(in hsl longer hue, var(--color-surface-2), 35% transparent);
    }
  }

  summary {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* display: grid;
    grid-template-columns: 1fr repeat(5, var(--line-height-1));
    column-gap: var(--column-gap-1);
    align-items: center; */

    & h2 {
      display: contents;
      margin-inline-end: auto;
    }

    & > span {
      --color-border: color-mix(in hsl longer hue, var(--color), 6.5% white);

      display: grid;
      place-content: center;

      background-color: var(--color);

      height: var(--line-height-1);
      aspect-ratio: var(--ratio-square);
      background-color: var(--color);
      border-radius: var(--border-radius-2);
      border: var(--border-1) solid var(--color-border);
    }
  }

  /* colors surface */

  .surface-1 {
    --color: var(--color-surface-1);
  }

  .surface-2 {
    --color: var(--color-surface-2);
  }

  .surface-3 {
    --color: var(--color-surface-3);
  }

  .surface-4 {
    --color: var(--color-surface-4);
  }

  .surface-5 {
    --color: var(--color-surface-5);
  }

  /* color neutral */

  .neutral-1 {
    --color: var(--color-neutral-1);
  }

  .neutral-2 {
    --color: var(--color-neutral-2);
  }

  .neutral-3 {
    --color: var(--color-neutral-3);
  }

  .neutral-4 {
    --color: var(--color-neutral-4);
  }

  .neutral-5 {
    --color: var(--color-neutral-5);
  }

  /* color positive */

  .positive-1 {
    --color: var(--color-positive-1);
  }

  .positive-2 {
    --color: var(--color-positive-2);
  }

  .positive-3 {
    --color: var(--color-positive-3);
  }

  .positive-4 {
    --color: var(--color-positive-4);
  }

  .positive-5 {
    --color: var(--color-positive-5);
  }

  /* color negative */

  .negative-1 {
    --color: var(--color-negative-1);
  }

  .negative-2 {
    --color: var(--color-negative-2);
  }

  .negative-3 {
    --color: var(--color-negative-3);
  }

  .negative-4 {
    --color: var(--color-negative-4);
  }

  .negative-5 {
    --color: var(--color-negative-5);
  }

  /* color accent */

  .accent-1 {
    --color: var(--color-accent-1);
  }

  .accent-2 {
    --color: var(--color-accent-2);
  }

  .accent-3 {
    --color: var(--color-accent-3);
  }

  .accent-4 {
    --color: var(--color-accent-4);
  }

  .accent-5 {
    --color: var(--color-accent-5);
  }

  header {
    /* spacings */

    padding: var(--padding-1);
    margin: var(--margin-1);

    font-family: var(--font-sans);
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-1);

    z-index: var(--z-index-1);

    /* layers */
    &::before {
      z-index: var(--z-index-01);
    }
  }
</style>
