---
import MainNavigation from '../user-components/MainNavigation.astro'

const { hasSidebar } = Astro.props
---

<div>
  <header>
    <slot name="header" />
  </header>

  {
    hasSidebar && (
      <MainNavigation class="main-navigation">
        <slot name="sidebar" />
      </MainNavigation>
    )
  }

  <slot />
</div>

<style>
  div {
    display: grid;
    grid-template-columns:
      clamp(var(--inline-size-1), 35vw, var(--inline-size-2))
      1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'heading heading'
      'sidebar main';

    min-block-size: 100dvh;

    @media (--breakpoint-sm-only) {
      column-gap: 0;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas:
        'heading sidebar'
        'main main';
    }
  }

  header {
    grid-area: heading;
    display: grid;
    grid-template-columns:
      clamp(var(--inline-size-1), 35vw, var(--inline-size-2))
      1fr;
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 1;

    border-block-end: var(--border-width-1) solid var(--color-surface-3);

    @media (--breakpoint-sm-only) {
      grid-template-columns: auto 1fr;
      justify-content: space-between;
    }
  }

  /* :global(body:not([data-mobile-main-navigation-on])) {
    @media (--breakpoint-md-n-above) {
      & header {
        z-index: var(--z-index-3);
        background-color: var(--color-surface-1);
        position: sticky;
        top: 0;
      }
    }
  } */

  main {
    grid-area: main;

    grid-column: 2;
    grid-row: 2;

    padding-inline: var(--padding-inline-1);
  }

  .main-navigation {
    grid-area: sidebar;

    grid-column: 1;
    grid-row: 2;
  }
</style>
