---
import type { Props } from '@astrojs/starlight/props'
---

<div class="scroller">
  <section>
    {
      Astro.props.toc && (
        <aside>
          <slot name="right-sidebar" />
        </aside>
      )
    }
    <slot />
  </section>
</div>

<style>
  .scroller {
    overflow: auto;
    inline-size: 100%;
    scroll-padding: var(--block-size-1);

    &:global(main) {
      flex-grow: 1;
      width: 100%;

      @media (--breakpoint-sm-n-above) {
        order: -1;
      }
    }
  }

  section {
    max-inline-size: var(--inline-size-5);
    inline-size: 100%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr var(--inline-size-2);

    @media (--breakpoint-sm-only) {
      grid-template-columns: 1fr;
    }
  }

  aside {
    z-index: var(--z-index-1);
    position: sticky;
    top: 0;

    &:global(details) {
      border-color: transparent;
    }
  }
</style>
