---
import type { Props } from '@astrojs/starlight/props'
---

<div class="scroller">
  <section>
    <slot />

    {
      Astro.props.toc && (
        <aside>
          <slot name="right-sidebar" />
        </aside>
      )
    }
  </section>
</div>

<style>
  .scroller {
    overflow: auto;
    inline-size: 100%;

    &:global(main) {
      flex-grow: 1;
      width: 100%;
    }
  }

  section {
    max-inline-size: 900px;
    inline-size: 100%;
    margin-inline: auto;
    display: flex;
  }

  aside {
    position: sticky;
    top: 0;
    padding: var(--padding-2);
    min-width: 300px;
  }
</style>
