---
import type { Props } from '@astrojs/starlight/props'
---

<div class="scroller">
  <section>
    {
      Astro.props.toc && (
        <aside>
          <slot name="right-sidebar" />
        </aside>
      )
    }
    <slot />
  </section>
</div>

<style>
  .scroller {
    overflow: auto;
    inline-size: 100%;

    &:global(main) {
      flex-grow: 1;
      width: 100%;

      @media (--breakpoint-sm-n-above) {
        order: -1;
      }
    }
  }

  section {
    max-inline-size: var(--inline-size-5);
    inline-size: 100%;
    margin-inline: auto;
    display: flex;

    @media (--breakpoint-sm-only) {
      flex-direction: column;
    }
  }

  aside {
    z-index: var(--z-index-1);
    position: sticky;
    top: 0;
    min-inline-size: var(--inline-size-2);
  }
</style>
