---
import type { Props } from '@astrojs/starlight/props'
---

<div class="scroller">
  <section>
    {
      Astro.props.toc && (
        <aside>
          <slot name="right-sidebar" />
        </aside>
      )
    }
    <slot />
  </section>
</div>

<style>
  .scroller {
    grid-area: main;
    inline-size: 100%;
    scroll-padding: var(--block-size-1);

    &:global(main) {
      inline-size: 100%;
      padding-inline: var(--padding-inline-2);

      @media (--breakpoint-md-n-above) {
        order: -1;
      }

      @media (--breakpoint-sm-only) {
        max-inline-size: 100vw;
      }
    }
  }

  section {
    max-inline-size: var(--inline-size-5);
    inline-size: 100%;
    min-block-size: 100%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr var(--finess-toc-inline-size);

    @media (--breakpoint-md-only) {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
    }
  }

  aside {
    z-index: var(--z-index-1);
    position: sticky;
    top: 0;

    &:global(details) {
      border-color: transparent;
    }

    @media (--breakpoint-md-only) {
      border-block-end: var(--border-width-1) solid var(--color-surface-3);
    }

    @media (--breakpoint-md-n-above) {
      border-inline-start: var(--border-width-1) solid var(--color-surface-3);
      padding-inline: var(--padding-inline-1);
    }
  }
</style>
