@import './reset.css';
@import './elements/elements.css';
@import './props/props.css';
@import './typography.css';
@import './icons.css';

:root {
  color-scheme: light dark;

  --global-space-multiplier: 1;
  --global-font-multiplier: 1;
}
