<details class="padding-block">
  <summary><h4>--padding-block-<code>{`{1-5}`}</code></h4></summary>
  <slot name="block" />
  <ul role="list">
    <li style="--padding: var(--padding-block-1)">
      --padding-block-1 <span>0.35 ~ {(0.35 * 1.65).toFixed(2)} ex</span>
    </li>
    <li style="--padding: var(--padding-block-2)">
      --padding-block-2<span>0.35 ~ {(0.35 * 1.65).toFixed(2)} ex</span>
    </li>
    <li style="--padding: var(--padding-block-3)">
      --padding-block-3<span>0.35 ~ {(0.35 * 1.65).toFixed(2)} ex</span>
    </li>
    <li style="--padding: var(--padding-block-4)">
      --padding-block-5<span>0.35 ~ {(0.35 * 1.65).toFixed(2)} ex</span>
    </li>
    <li style="--padding: var(--padding-block-5)">
      --padding-block-6<span>0.35 ~ {(0.35 * 1.65).toFixed(2)} ex</span>
    </li>
  </ul>
</details>

<details class="padding-inline">
  <summary><h4>--padding-inline-<code>{`{1-5}`}</code></h4></summary>
  <slot name="inline" />
  <ul role="list">
    <li style="--padding: var(--padding-inline-1)">
      --padding-inline-1 <span>0.35 ~ {(0.35 * 1.65).toFixed(2)} ch</span>
    </li>
    <li style="--padding: var(--padding-inline-2)">
      --padding-inline-2 <span>0.85 ~ {(0.85 * 1.65).toFixed(2)} ch</span>
    </li>
    <li style="--padding: var(--padding-inline-3)">
      --padding-inline-3 <span>1.65 ~ {(1.65 * 1.65).toFixed(2)} ch</span>
    </li>
    <li style="--padding: var(--padding-inline-4)">
      --padding-inline-4 <span>3.15 ~ {(3.15 * 1.65).toFixed(2)} ch</span>
    </li>
    <li style="--padding: var(--padding-inline-5)">
      --padding-inline-5 <span>5.65 ~ {(5.65 * 1.65).toFixed(2)} ch</span>
    </li>
  </ul>
</details>

<details>
  <summary><h4>--padding-<code>{`{1-5}`}</code></h4></summary>
  <slot name="shorthand" />
  <ul role="list">
    <li>--padding-1</li>
    <li>--padding-2</li>
    <li>--padding-3</li>
    <li>--padding-4</li>
    <li>--padding-5</li>
  </ul>
</details>

<details>
  <summary>
    <h4 class="muted">And all flow-relative mappings</h4>
  </summary>
  <ul role="list">
    <li>--padding-inline-start-<code>{`{1-5}`}</code></li>
    <li>--padding-inline-end-<code>{`{1-5}`}</code></li>
    <li>--padding-block-start-<code>{`{1-5}`}</code></li>
    <li>--padding-block-end-<code>{`{1-5}`}</code></li>
  </ul>
</details>

<style>
  .muted {
    color: var(--color-on-surface-2);
  }
</style>
