:where(a[href]) {
  color: color-mix(in oklab, var(--color-accent), 35% var(--color-on-accent-1));

  text-decoration-color: currentColor;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.165em;

  transition: all ease-out var(--transition-duration-1);

  &:where(:hover),
  &:where(:focus) {
    border-radius: var(--border-radius-1);
    color: color-mix(
      in oklab,
      var(--color-accent),
      65% var(--color-on-accent-1)
    );
  }

  &:where(:focus-visible) {
    outline-offset: var(--border-width-2);
    outline-radius: 0px;
    outline-color: var(--color-accent-5);
  }
}
