:where(a[href]) {
  color: color-mix(in oklab, var(--color-accent), 5% currentColor);

  text-decoration-color: currentColor;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.165em;

  transition: all ease-out var(--transition-duration-1);

  &:where(:hover),
  &:where(:focus) {
    border-radius: var(--border-radius-1);
    color: color-mix(in oklab, var(--color-accent), 50% currentColor);
  }

  &:where(:focus-visible) {
    outline-offset: var(--border-width-2) var(--border-width-3);
    outline-radius: 0px;
    outline-color: var(--color-accent-5);
  }
}
