<details open>
  <summary class="sr-only">letter-spacing-{`{0-3}`}</summary>
  <slot />
  <ul role="list">
    <li>
      --letter-spacing-0
      <span>-0.05 ~ {(-0.05 + -0.05 * -1.15).toFixed(2)}em</span>
    </li>
    <li>
      --letter-spacing-1
      <span>0.025 ~ {(0.025 * 1.35).toFixed(2)}em</span>
    </li>
    <li>
      --letter-spacing-2
      <span>0.075 ~ {(0.075 * 1.85).toFixed(2)}em</span>
    </li>
    <li>
      --letter-spacing-3
      <span>0.35 ~ {(0.35 * 1.85).toFixed(2)}em</span>
    </li>
  </ul>
</details>
