<details open>
  <summary class="sr-only">font-weight-{`{0-3}`}</summary>
  <slot />
  <ul role="list">
    <li>
      --font-weight-0 <span>lighter</span>
    </li>
    <li>
      --font-weight-1 <span>normal</span>
    </li>
    <li>
      --font-weight-2 <span>bold</span>
    </li>
    <li>
      --font-weight-3 <span>900</span>
    </li>
  </ul>
</details>
