<details open>
  <summary class="sr-only"><code>font-family</code></summary>
  <slot />
  <ul role="list">
    <li>
      --font-family-sans
      <span>
        system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica
        Neue', Arial, sans-serif
      </span>
    </li>
    <li>
      --font-family-serif
      <span>ui-serif, serif</span>
    </li>
    <li>
      --font-family-mono
      <span>
        ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto
        Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira
        Mono', 'Droid Sans Mono', 'Courier New', monospace
      </span>
    </li>
  </ul>
</details>

<style>
  span {
    max-inline-size: var(--inline-size-1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
