:where(html) {
  --shadows-color: black;

  --box-shadow-1: 0 0.15em 0.35em -1px var(--shadows-color);
  --box-shadow-2: 0 0.15em 0.35em -1px var(--shadows-color);
  --box-shadow-3: 0 0.15em 0.35em -1px var(--shadows-color);

  @media (--light) {
    --shadows-color: #d6d6d6;
  }
}
