:where(*) {
  --margin-1: var(--space-block-1) var(--space-inline-1);
  --margin-2: var(--space-block-2) var(--space-inline-2);
  --margin-3: var(--space-block-3) var(--space-inline-3);
  --margin-4: var(--space-block-4) var(--space-inline-4);
  --margin-5: var(--space-block-5) var(--space-inline-5);

  --margin-block-1: var(--space-block-1);
  --margin-block-2: var(--space-block-2);
  --margin-block-3: var(--space-block-3);
  --margin-block-4: var(--space-block-4);
  --margin-block-5: var(--space-block-5);

  --margin-inline-1: var(--space-inline-1);
  --margin-inline-2: var(--space-inline-2);
  --margin-inline-3: var(--space-inline-3);
  --margin-inline-4: var(--space-inline-4);
  --margin-inline-5: var(--space-inline-5);
}
