:root {
  --padding-1: var(--space-block-1) var(--space-inline-1);
  --padding-2: var(--space-block-2) var(--space-inline-2);
  --padding-3: var(--space-block-3) var(--space-inline-3);
  --padding-4: var(--space-block-4) var(--space-inline-4);
  --padding-5: var(--space-block-5) var(--space-inline-5);

  --padding-block-1: var(--space-block-1);
  --padding-block-2: var(--space-block-2);
  --padding-block-3: var(--space-block-3);
  --padding-block-4: var(--space-block-4);
  --padding-block-5: var(--space-block-5);

  --padding-inline-1: var(--space-inline-1);
  --padding-inline-2: var(--space-inline-2);
  --padding-inline-3: var(--space-inline-3);
  --padding-inline-4: var(--space-inline-4);
  --padding-inline-5: var(--space-inline-5);
}
