:where(*) {
  --gap-1: var(--space-block-1) var(--space-inline-1);
  --gap-2: var(--space-block-2) var(--space-inline-2);
  --gap-3: var(--space-block-3) var(--space-inline-3);
  --gap-4: var(--space-block-4) var(--space-inline-4);
  --gap-5: var(--space-block-5) var(--space-inline-5);

  --row-gap-1: var(--space-inline-1);
  --row-gap-2: var(--space-inline-2);
  --row-gap-3: var(--space-inline-3);
  --row-gap-4: var(--space-inline-4);
  --row-gap-5: var(--space-inline-5);

  --column-gap-1: var(--space-inline-1);
  --column-gap-2: var(--space-block-2);
  --column-gap-3: var(--space-block-3);
  --column-gap-4: var(--space-block-4);
  --column-gap-5: var(--space-block-5);
}
