:where(html) {
  --size-1: 1rem;
  --size-2: 1.65rem;
  --size-3: 3rem;
  --size-4: 7.5rem;
  --size-5: 15rem;

  /* @TODO add container height */
  /* @TODO add container width */
  /* @TODO add character height */
  /* @TODO add character width */
  /* @TODO add paragraph (op size-content) */
  /* @TODO add headings (op size-header) */
}
