@import './base.css';

:where(html) {
  /* padding block and inline */

  --size-padding-1: var(--size-block-1) var(--size-inline-1);
  --size-padding-2: var(--size-block-2) var(--size-inline-2);
  --size-padding-3: var(--size-block-3) var(--size-inline-3);
  --size-padding-4: var(--size-block-4) var(--size-inline-4);
  --size-padding-5: var(--size-block-5) var(--size-inline-5);

  --padding-1: var(--size-block-1) var(--size-inline-1);
  --padding-2: var(--size-block-2) var(--size-inline-2);
  --padding-3: var(--size-block-3) var(--size-inline-3);
  --padding-4: var(--size-block-4) var(--size-inline-4);
  --padding-5: var(--size-block-5) var(--size-inline-5);

  --m-1: var(--size-block-1) var(--size-inline-1);
  --m-2: var(--size-block-2) var(--size-inline-2);
  --m-3: var(--size-block-3) var(--size-inline-3);
  --m-4: var(--size-block-4) var(--size-inline-4);
  --m-5: var(--size-block-5) var(--size-inline-5);

  /* padding block */

  --size-padding-block-1: var(--size-block-1);
  --size-padding-block-2: var(--size-block-2);
  --size-padding-block-3: var(--size-block-3);
  --size-padding-block-4: var(--size-block-4);
  --size-padding-block-5: var(--size-block-5);

  --padding-block-1: var(--size-block-1);
  --padding-block-2: var(--size-block-2);
  --padding-block-3: var(--size-block-3);
  --padding-block-4: var(--size-block-4);
  --padding-block-5: var(--size-block-5);

  --pb-1: var(--size-block-1);
  --pb-2: var(--size-block-2);
  --pb-3: var(--size-block-3);
  --pb-4: var(--size-block-4);
  --pb-5: var(--size-block-5);

  /* padding inline */

  --size-padding-inline-1: var(--size-inline-1);
  --size-padding-inline-2: var(--size-inline-2);
  --size-padding-inline-3: var(--size-inline-3);
  --size-padding-inline-4: var(--size-inline-4);
  --size-padding-inline-5: var(--size-inline-5);

  --padding-inline-1: var(--size-inline-1);
  --padding-inline-2: var(--size-inline-2);
  --padding-inline-3: var(--size-inline-3);
  --padding-inline-4: var(--size-inline-4);
  --padding-inline-5: var(--size-inline-5);

  --pi-1: var(--size-inline-1);
  --pi-2: var(--size-inline-2);
  --pi-3: var(--size-inline-3);
  --pi-4: var(--size-inline-4);
  --pi-5: var(--size-inline-5);
}
