<details>
  <summary>
    <h4>
      --border-radius-<code>{`{1-4}`}</code>
    </h4>
  </summary>
  <slot name="shortand" />
  <ul role="list">
    <li>
      --border-radius-<code>1</code>
      <span>0.165em</span>
    </li>
    <li>
      --border-radius-<code>2</code>
      <span>0.35em</span>
    </li>
    <li>
      --border-radius-<code>3</code>
      <span>0.85em</span>
    </li>
    <li>
      --border-radius-<code>4</code>
      <span>1.35em</span>
    </li>
    <li>
      --border-radius-<code>5</code> or <code>round</code>
      <span>1e5px</span>
    </li>
  </ul>
</details>

<details>
  <summary>
    <h4 class="muted">And all flow-relative mappings</h4>
  </summary>
  <ul role="list">
    <li>--border-start-start-radius-<code>{`{1-4/round}`}</code></li>
    <li>--border-start-end-radius-<code>{`{1-4/round}`}</code></li>
    <li>--border-end-start-radius-<code>{`{1-4/round}`}</code></li>
    <li>--border-end-end-radius-<code>{`{1-4/round}`}</code></li>
  </ul>
</details>

<style>
  .muted {
    color: var(--color-on-surface-2);
  }
</style>
