<details open>
  <summary class="sr-only"><h4>--border-width-{`{1-3}`}</h4></summary>
  <slot name="shorthand" />
  <ul role="list">
    <li>
      --border-width-1 <span>0.0625em</span>
    </li>
    <li>
      --border-width-2<span>0.1875em</span>
    </li>
    <li>
      --border-width-3<span>0.3125em</span>
    </li>
  </ul>
</details>

<details>
  <summary style="color: var(--color-on-surface-2)">
    Logical properties
  </summary>
  <ul role="list">
    <li>--border-inline-width-{`{1-3}`}</li>
    <li>--border-block-width-{`{1-3}`}</li>
  </ul>
</details>
