<details open>
  <summary class="sr-only">
    --border-radius-{`{1-4}`}
  </summary>
  <slot name="shorthand" />
  <ul role="list">
    <li>--border-radius-1<span>0.165em</span></li>
    <li>--border-radius-2<span>0.35em</span></li>
    <li>--border-radius-3<span>0.85em</span></li>
    <li>--border-radius-4<span>1.35em</span></li>
    <li>--border-radius-round<span>1e5px</span></li>
  </ul>
</details>

<details>
  <summary class="muted">Logical properties</summary>
  <ul role="list">
    <li>--border-start-start-radius-{`{1-4, round}`}</li>
    <li>--border-start-end-radius-{`{1-4, round}`}</li>
    <li>--border-end-start-radius-{`{1-4, round}`}</li>
    <li>--border-end-end-radius-{`{1-4, round}`}</li>
  </ul>
</details>

<style>
  .muted {
    color: var(--color-on-surface-2);
  }
</style>
