<details>
  <summary><h4>--border-block-width-{`{1-3}`}</h4></summary>
  <slot name="block" />
  <ul role="list">
    <li>
      --border-block-width-1<span>thin</span>
    </li>
    <li>
      --border-block-width-2<span>medium</span>
    </li>
    <li>
      --border-block-width-3<span>thick</span>
    </li>
  </ul>
</details>

<details>
  <summary><h4>--border-inline-width-{`{1-3}`}</h4></summary>
  <slot name="inline" />
  <ul role="list">
    <li>
      --border-inline-width-1 <span>thin</span>
    </li>
    <li>
      --border-inline-width-2<span>medium</span>
    </li>
    <li>
      --border-inline-width-3<span>thick</span>
    </li>
  </ul>
</details>

<details>
  <summary><h4>--border-width-{`{1-3}`}</h4></summary>
  <slot name="shortand" />
  <ul role="list">
    <li>
      --border-width-1 <span>thin</span>
    </li>
    <li>
      --border-width-2<span>medium</span>
    </li>
    <li>
      --border-width-3<span>thick</span>
    </li>
  </ul>
</details>
