<details open>
  <summary class="sr-only">--aspect-ratio</summary>
  <slot name="shorthand" />
  <ul role="list">
    <li>--aspect-ratio-square<span>1</span></li>
    <li>--aspect-ratio-landscape<span>16/9</span></li>
    <li>--aspect-ratio-portrait<span>3/4</span></li>
    <li>--aspect-ratio-wide<span>18/5</span></li>
    <li>--aspect-ratio-golden<span>1.618/1</span></li>
  </ul>
</details>
