<div class="wrapper-colors">
  <slot />
</div>

<style>
  .wrapper-colors :global(details.color ul li > span) {
    --color-border: color-mix(in oklab, var(--color), 15% CanvasText);

    content: '';
    block-size: calc(var(--line-height-1) - var(--border-width-2));
    /* safari ..even with aspectio */
    inline-size: calc(var(--line-height-1) - var(--border-width-2));
    aspect-ratio: var(--aspect-ratio-square);
    background-color: var(--color);
    border-radius: var(--border-radius-2);
    border: var(--border-width-1) solid var(--color-border);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
  }

  .wrapper-colors :global(details ul li div) {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: var(--column-gap-2);
  }

  /* .wrapper-colors :global(details ul li div span:first-of-type) {
    inline-size: max-content;
  } */
</style>
