---
import ColorPicker from './colors.picker.astro'
import ContrastPicker from './contrast.picker.astro'
---

<slot />

<details open>
  <summary class="sr-only">Customise accent</summary>
  <ul role="list">
    <li>
      --color-accent
      <span
        dir="auto"
        data-color="--color-accent"
        data-color-space="p3"
      ></span>
    </li>
    <li>
      --color-accent-hex
      <span dir="auto">
        <ColorPicker color="--color-accent" />
        <span data-color="--color-accent"></span>
      </span>
    </li>
    <li>
      --color-accent-contrast
      <span dir="auto">
        <ContrastPicker contrast="--color-accent-contrast" />
        <span data-contrast="--color-accent-contrast"></span>
      </span>
    </li>
  </ul>
</details>

<h4>Palette</h4>

<details
  open
  class="color"
>
  <summary class="sr-only">--color-accent</summary>
  <ul role="list">
    <li class="accent-1">
      <span></span>
      --color-accent-1
    </li>
    <li class="accent-2">
      <span></span>
      --color-accent-2
    </li>
    <li class="accent-3">
      <span></span>
      --color-accent-3
    </li>
    <li class="accent-4">
      <span></span>
      --color-accent-4
    </li>
    <li class="accent-5">
      <span></span>
      --color-accent-5
    </li>
    <li class="accent-1">
      <span class="accent-on-1"><small>Aa</small></span>
      <div>--color-on-accent-1</div>
    </li>
    <li class="accent-1">
      <span class="accent-on-2"><small>Aa</small></span>
      --color-on-accent-2
    </li>
  </ul>
</details>

<style>
  span:has(input[type='text']) {
    overflow: visible;
  }

  input[type='text'] {
    font-size: var(--font-size-0);
    line-height: var(--line-height-0);
  }

  .accent-on-1 {
    --text: var(--color-on-accent-1);
  }

  .accent-on-2 {
    --text: var(--color-on-accent-2);
  }

  .accent-0 {
    --color: var(--color-accent);
  }

  .accent-1 {
    --color: var(--color-accent-1);
  }

  .accent-2 {
    --color: var(--color-accent-2);
  }

  .accent-3 {
    --color: var(--color-accent-3);
  }

  .accent-4 {
    --color: var(--color-accent-4);
  }

  .accent-5 {
    --color: var(--color-accent-5);
  }

  .accent-on-5 {
    --text: var(--color-on-accent-1);
  }

  .accent-on-5 {
    --text: var(--color-on-accent-2);
  }
</style>
