---
import ColorPicker from './colors.picker.astro'
import ContrastPicker from './contrast.picker.astro'
---

<slot />

<details open>
  <summary class="sr-only">Customise neutral</summary>
  <ul role="list">
    <li>
      --color-neutral
      <span dir="auto">
        <ColorPicker color="--color-neutral" />
        <span data-color="--color-neutral"></span>
      </span>
    </li>
    <li>
      --color-neutral-contrast
      <span dir="auto">
        <ContrastPicker contrast="--color-neutral-contrast" />
        <span data-contrast="--color-neutral-contrast"></span>
      </span>
    </li>
  </ul>
</details>
