---
import ColorPicker from './../colors/colors.picker.astro'
import ContrastPicker from './../colors/contrast.picker.astro'
---

<slot />

<details open>
  <summary class="sr-only">Customise surface</summary>
  <ul role="list">
    <li>
      --color-surface
      <span dir="auto">
        <ColorPicker color="--color-surface" />
        <span data-color="--color-surface"></span>
      </span>
    </li>
    <li>
      --color-surface-contrast
      <span dir="auto">
        <ContrastPicker contrast="--color-surface-contrast" />
        <span data-contrast="--color-surface-contrast"></span>
      </span>
    </li>
  </ul>
</details>
