---
import ColorPicker from './colors.picker.astro'
import ContrastPicker from './contrast.picker.astro'
---

<slot />

<details open>
  <summary class="sr-only">Customise accent</summary>
  <ul role="list">
    <li>
      --color-accent
      <span dir="auto">
        <ColorPicker color="--color-accent" />
        <span data-color="--color-accent"></span>
      </span>
    </li>
    <li>
      --color-accent-contrast
      <span dir="auto">
        <ContrastPicker contrast="--color-accent-contrast" />
        <span data-contrast="--color-accent-contrast"></span>
      </span>
    </li>
  </ul>
</details>
