<slot />

<details
  open
  class="color"
>
  <summary class="sr-only">--color-positive</summary>
  <ul role="list">
    <li class="positive-1">
      <span></span>
      --color-positive-1
    </li>
    <li class="positive-2">
      <span></span>
      --color-positive-2
    </li>
    <li class="positive-3">
      <span></span>
      --color-positive-3
    </li>
    <li class="positive-4">
      <span></span>
      --color-positive-4
    </li>
    <li class="positive-5">
      <span></span>
      --color-positive-5
    </li>
    <li class="positive-1">
      <span class="positive-on-1"><small>Aa</small></span>
      <div>--color-on-positive-1</div>
    </li>
    <li class="positive-1">
      <span class="positive-on-2"><small>Aa</small></span>
      --color-on-positive-2
    </li>
  </ul>
</details>

<style>
  .positive-on-1 {
    --text: var(--color-on-positive-1);
  }

  .positive-on-2 {
    --text: var(--color-on-positive-2);
  }

  .positive-0 {
    --color: var(--color-positive);
  }

  .positive-1 {
    --color: var(--color-positive-1);
  }

  .positive-2 {
    --color: var(--color-positive-2);
  }

  .positive-3 {
    --color: var(--color-positive-3);
  }

  .positive-4 {
    --color: var(--color-positive-4);
  }

  .positive-5 {
    --color: var(--color-positive-5);
  }
</style>
