<details
  open
  class="color"
>
  <summary class="sr-only">--color-negative</summary>
  <ul role="list">
    <li class="negative-1">
      <span></span>
      --color-negative-1
    </li>
    <li class="negative-2">
      <span></span>
      --color-negative-2
    </li>
    <li class="negative-3">
      <span></span>
      --color-negative-3
    </li>
    <li class="negative-4">
      <span></span>
      --color-negative-4
    </li>
    <li class="negative-5">
      <span></span>
      --color-negative-5
    </li>
    <li class="negative-1">
      <span class="negative-on-1"><small>Aa</small></span>
      <div>--color-on-negative-1</div>
    </li>
    <li class="negative-1">
      <span class="negative-on-2"><small>Aa</small></span>
      --color-on-negative-2
    </li>
  </ul>
</details>

<style>
  .negative-on-1 {
    --text: var(--color-on-negative-1);
  }

  .negative-on-2 {
    --text: var(--color-on-negative-2);
  }

  .negative-0 {
    --color: var(--color-negative);
  }

  .negative-1 {
    --color: var(--color-negative-1);
  }

  .negative-2 {
    --color: var(--color-negative-2);
  }

  .negative-3 {
    --color: var(--color-negative-3);
  }

  .negative-4 {
    --color: var(--color-negative-4);
  }

  .negative-5 {
    --color: var(--color-negative-5);
  }
</style>
