<details
  open
  class="color"
>
  <summary class="sr-only">--color-surface</summary>
  <ul role="list">
    <li class="surface-1">
      <span></span>
      --color-surface-1
    </li>
    <li class="surface-2">
      <span></span>
      --color-surface-2
    </li>
    <li class="surface-3">
      <span></span>
      --color-surface-3
    </li>
    <li class="surface-4">
      <span></span>
      --color-surface-4
    </li>
    <li class="surface-5">
      <span></span>
      --color-surface-5
    </li>
    <li class="surface-1">
      <span class="surface-on-1"><small>Aa</small></span>
      <div>--color-on-surface-1</div>
    </li>
    <li class="surface-1">
      <span class="surface-on-2"><small>Aa</small></span>
      --color-on-surface-2
    </li>
  </ul>
</details>

<style>
  .surface-on-1 {
    --text: var(--color-on-surface-1);
  }

  .surface-on-2 {
    --text: var(--color-on-surface-2);
  }

  .surface-0 {
    --color: var(--color-surface);
  }

  .surface-1 {
    --color: var(--color-surface-1);
  }

  .surface-2 {
    --color: var(--color-surface-2);
  }

  .surface-3 {
    --color: var(--color-surface-3);
  }

  .surface-4 {
    --color: var(--color-surface-4);
  }

  .surface-5 {
    --color: var(--color-surface-5);
  }
</style>
