:where(html) {
  --font-letter-spacing-0: -0.05em;
  --font-letter-spacing-1: 0.025em;
  --font-letter-spacing-2: 0.075em;
  --font-letter-spacing-3: 0.75em;

  --letter-spacing-0: var(--font-letter-spacing-0);
  --letter-spacing-1: var(--font-letter-spacing-1);
  --letter-spacing-2: var(--font-letter-spacing-2);
  --letter-spacing-3: var(--font-letter-spacing-3);

  --ls-0: var(--font-letter-spacing-0);
  --ls-1: var(--font-letter-spacing-1);
  --ls-2: var(--font-letter-spacing-2);
  --ls-3: var(--font-letter-spacing-3);
}
