@import './fonts.font-family.css';
@import './fonts.font-size.css';
@import './fonts.font-weight.css';
@import './fonts.letter-spacing.css';
@import './fonts.line-height.css';

:root {
  --global-font-multiplier: 1;
}

:where(html) {
  --font-multiplier: var(--global-font-multiplier);
}

:where(html) {
  /* private props */
  --_lh-0: calc(0.85em * var(--font-multiplier));
  --_lh-1: calc(1.35em * var(--font-multiplier));
  --_lh-2: calc(1.85em * var(--font-multiplier));
  --_lh-3: calc(2.5em * var(--font-multiplier));
  /* << */
}
