<h3><code>block-size</code></h3>

<details open>
  <summary class="sr-only">--block-size</summary>
  <ul role="list">
    <li>--block-size-1<span>7rex</span></li>
    <li>--block-size-2<span>12rex</span></li>
    <li>--block-size-3<span>25rex</span></li>
    <li>--block-size-4<span>40rex</span></li>
    <li>--block-size-5<span>65rex</span></li>
  </ul>
</details>

<h3><code>inline-size</code></h3>

<details open>
  <summary class="sr-only">--inline-size</summary>
  <ul role="list">
    <li>--inline-size-1<span>15rch</span></li>
    <li>--inline-size-2<span>28rch</span></li>
    <li>--inline-size-3<span>42rch</span></li>
    <li>--inline-size-4<span>56rch</span></li>
    <li>--inline-size-5<span>95rch</span></li>
  </ul>
</details>

<h3>Viewport</h3>

<details open>
  <summary class="sr-only">--size-viewport</summary>
  <ul role="list">
    <li>--size-viewport-sm<span>501px</span></li>
    <li>--size-viewport-md<span>1201px</span></li>
    <li>--size-viewport-lg<span>1401px</span></li>
    <li>--size-viewport-xl<span>1921px</span></li>
  </ul>
</details>
