<details open>
  <summary class="sr-only">z-index-{`{1-3}`}</summary>
  <slot />
  <ul role="list">
    <li>--z-index-1<span>1</span></li>
    <li>--z-index-2<span>2</span></li>
    <li>--z-index-3<span>3</span></li>
    <li>--z-index-4<span>4</span></li>
    <li>--z-index-max<span>2147483647</span></li>
  </ul>
</details>

<details>
  <summary style="color: var(--color-on-surface-2)">Background layers</summary>
  <slot />
  <ul role="list">
    <li>--z-index--1<span>-1</span></li>
    <li>--z-index--2<span>-2</span></li>
    <li>--z-index--3<span>-3</span></li>
    <li>--z-index--min<span>-2147483647</span></li>
  </ul>
</details>
