<form x-data="{ motionReduced: false }">
  <div>
    <label for="motion-reduced">Motion reduced</label>
    <input
      id="motion-reduced"
      name="motion-reduced"
      type="checkbox"
      role="switch"
      x-model="motionReduced"
    />
  </div>

  <details open>
    <summary class="sr-only">
      --animation-duration-{`{1-3}`}
    </summary>
    <slot name="shorthand" />
    <ul role="list">
      <li>
        --animation-duration-1
        <template x-if="motionReduced"><span>20ms</span></template>
        <template x-if="!motionReduced"><span>80ms</span></template>
      </li>
      <li>
        --animation-duration-2
        <template x-if="motionReduced"><span>30ms</span></template>
        <template x-if="!motionReduced"><span>180ms</span></template>
      </li>
      <li>
        --animation-duration-3
        <template x-if="motionReduced"><span>120ms</span></template>
        <template x-if="!motionReduced"><span>260ms</span></template>
      </li>
    </ul>
  </details>
</form>

<style>
  div {
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: var(--column-gap-1);
    margin-block-end: var(--margin-block-2);
  }

  label {
    color: var(--color-on-surface-2);
  }
</style>
