<details open>
  <summary class="sr-only">User preferences</summary>
  <ul role="list">
    <li>--motion<span>(prefers-reduced-motion: no-preference)</span></li>
    <li>--motion-reduced<span>(prefers-reduced-motion: reduce)</span></li>
    <li>
      --opacity<span>(prefers-reduced-transparency: reno-preferencduce)</span>
    </li>
    <li>
      --opacity-reduced<span>(prefers-reduced-transparency: reduce)</span>
    </li>
    <li>--dark<span>(prefers-color-scheme: dark)</span></li>
    <li>--light<span>(prefers-color-scheme: light)</span></li>
    <li>--contrast<span>(prefers-contrast: more)</span></li>
    <li>--contrast-reduced<span>(prefers-contrast: less)</span></li>
    <li>--contrast-forced<span>(forced-colors: active)</span></li>
    <li>--data<span>(prefers-reduced-data: no-preference)</span></li>
    <li>--data-reduced<span>(prefers-reduced-data: reduce)</span></li>
  </ul>
</details>
