<h4>Phone</h4>

<details open>
  <summary class="sr-only">Phone and tablet</summary>
  <ul role="list">
    <li>--breakpoint-sm-only<span>{`(0px <= width <= 500px)`}</span></li>
    <li>--breakpoint-sm-n-above<span>{`(width >= 501px)`}</span></li>
    <li>--breakpoint-sm-below<span>{`(width < 500px)`}</span></li>
  </ul>
</details>

<h4>Tablet</h4>

<details open>
  <summary class="sr-only">Laptop</summary>
  <ul role="list">
    <li>--breakpoint-md-only<span>{`(501px <= width <= 1200px)`}</span></li>
    <li>--breakpoint-md-n-above<span>{`(width >= 1201px)`}</span></li>
    <li>--breakpoint-md-n-below<span>{`(width < 1200px)`}</span></li>
  </ul>
</details>

<h4>Laptop</h4>

<details open>
  <summary class="sr-only">Desktop</summary>
  <ul role="list">
    <li>--breakpoint-lg-only<span>{`(1201px <= width <= 1400px)`}</span></li>
    <li>--breakpoint-lg-n-above<span>{`(width >= 1401px)`}</span></li>
    <li>--breakpoint-lg-n-above<span>{`(width < 1400px)`}</span></li>
  </ul>
</details>

<h4>Desktop</h4>

<details open>
  <summary class="sr-only">Wide</summary>
  <ul role="list">
    <li>--breakpoint-xl-only<span>{`(1401px <= width <= 1920px)`}</span></li>
    <li>--breakpoint-xl-n-above<span>{`(width >= 1921px)`}</span></li>
    <li>--breakpoint-xl-below<span>{`(width < 1920px)`}</span></li>
  </ul>
</details>
