<details open>
  <summary class="sr-only">Orientation</summary>
  <ul role="list">
    <li>--portrait<span>(orientation: portrait)</span></li>
    <li>--landscape<span>(orientation: landscape)</span></li>
    <li>--hdr<span>(dynamic-range: high) or (color-gamut: p3)</span></li>
    <li>--touch<span>(hover: none) and (pointer: coarse)</span></li>
    <li>--stylus<span>(hover: none) and (pointer: fine)</span></li>
    <li>--pointer<span>(hover) and (pointer: coarse)</span></li>
    <li>--mouse<span>(hover) and (pointer: fine)</span></li>
  </ul>
</details>
