/* overrides of starlight styles */

h1,
h2,
h3 {
  color: var(--color-on-surface-1);
  padding-block: var(--padding-block-1);
}

html,
body {
  font-family: var(--font-sans);
  font-size: var(--font-space-1);
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-1);
  color: var(--color-on-surface-1);
  background-color: var(--color-surface-1);
}

main h2 {
  margin-block-start: var(--margin-block-3);
}

main h3 {
  margin-block: var(--margin-block-start-2);
}

main h2 + p {
  margin-block-end: var(--margin-block-2);
}

main summary h4 {
  font-weight: var(--font-weight-1);
}

main code {
  font-family: var(--font-mono);
}

/* custom details */

main details {
  transition: scale ease-out var(--transition-timing-2);

  &[open] > * {
    transition-timing-function: var(--transition-timing-3);
    scale: 1.015;
  }

  &:not([open]):hover > * {
    scale: 1.01;
  }
}

main details :where(summary, li) {
  padding-inline: var(--padding-inline-1);
  padding-block: var(--padding-block-1);
}

main details p {
  padding: var(--padding-block-2) var(--padding-inline-1);
  color: var(--color-on-surface-2);
}

main details ul li {
  display: flex;
  border-block-start: var(--border-width-1) solid var(--color-surface-2);
  color: var(--color-on-surface-1);

  &:has(span) {
    column-gap: var(--column-gap-1);
  }

  &:hover {
    background-color: var(--color-surface-2);
  }

  & span {
    color: var(--color-on-surface-2);
    margin-inline-start: auto;
  }
}
