@import './../media/media.prefers.css';
@import './utils.css';

:where(html) {
  /* 
   * The only public color `surface`
   * to customise the color palette:
   * 
   * --color-surface
   *
   * In the order of priority: 
   * 1. user (--color-surface)
   * 2. system
   * 3. default
  */

  --color-surface-default-hex: #121210;
  --color-surface-mix-hex: #f8fafb;
  --color-surface-default-p3: color(display-p3 0.070588 0.070588 0.062745 / 1);
  --color-surface-mix-p3: color(display-p3 0.972549 0.980392 0.984314 / 1);

  /* dark */

  --color-surface-default: var(--color-surface-default-hex);
  --color-surface-mix: var(--color-surface-mix-hex);
  --color-surface-contrast: 2.35;

  @supports (color: Canvas) {
    --color-surface-default: Canvas;
    --color-surface-mix: CanvasText;
  }

  @media (--hdr) {
    --color-surface-default: var(--color-surface-default-p3);
    --color-surface-mix: var(--color-surface-mix-p3);
  }

  /* light */

  @media (--light) {
    --color-surface-default: var(--color-surface-mix-hex);
    --color-surface-mix: var(--color-surface-default-hex);
    --color-surface-contrast: 15;

    @supports (color: Canvas) {
      --color-surface-default: CanvasText;
      --color-surface-mix: Canvas;
    }
  }

  @media (--hdr-light) {
    --color-surface-default: var(--color-surface-mix-p3);
    --color-surface-mix: var(--color-surface-default-p3);
  }

  /* less contrast */

  /* @media (--contrast-reduced) { */
  /* --color-surface-contrast: 20; */
  /* } */

  --color-surface-1: var(--color-surface, var(--color-surface-default));

  --color-surface-2: color-mix(
    in hsl longer hue,
    var(--color-surface-1),
    calc(1% * var(--color-surface-contrast)) var(--color-surface-mix)
  );

  --color-surface-3: color-mix(
    in hsl longer hue,
    var(--color-surface-1),
    calc(1.35% * var(--color-surface-contrast)) var(--color-surface-mix)
  );

  --color-surface-4: color-mix(
    in hsl longer hue,
    var(--color-surface-1),
    calc(2% * var(--color-surface-contrast)) var(--color-surface-mix)
  );

  --color-surface-5: color-mix(
    in hsl longer hue,
    var(--color-surface-1),
    calc(2% * var(--color-surface-contrast)) var(--color-surface-mix)
  );
}
