@import './../media/media.prefers.css';
@import './utils.css';

:where(*) {
  --color-neutral-contrast: 3;
  --color-neutral-default-hex: color-mix(
    var(--color-neutral-mode),
    65% black,
    cornflowerblue
  );
  --color-neutral-mix-hex: color-mix(
    var(--color-neutral-mode),
    black,
    85% cornflowerblue
  );
  --color-neutral-mode: in oklch shorter hue;

  /* 
   * dark (default)
   */

  --color-neutral-default: var(--color-neutral-default-hex);
  --color-neutral-mix: var(--color-neutral-mix-hex);

  @media (--contrast-reduced) {
    --color-neutral-contrast: 0.35 !important;
  }

  /* light */

  @media (--light) {
    --color-neutral-mix-hex: color-mix(
      var(--color-neutral-mode),
      black,
      35% cornflowerblue
    );
    --color-neutral-default-hex: color-mix(
      var(--color-neutral-mode),
      lightcyan,
      7% cornflowerblue
    );
    --color-neutral-contrast: 1.55;
  }

  @media (--light-contrast-reduced) {
    --color-neutral-contrast: 0.85 !important;
  }

  /* color neutral definitions */

  --color-neutral-1: color-mix(
    var(--color-neutral-mode),
    var(--color-neutral, var(--color-neutral-default)),
    calc(0.1% * var(--color-neutral-contrast)) var(--color-neutral-mix)
  );

  --color-neutral-2: color-mix(
    var(--color-neutral-mode),
    var(--color-neutral-1),
    calc(7.25% * var(--color-neutral-contrast)) var(--color-neutral-mix)
  );

  --color-neutral-3: color-mix(
    var(--color-neutral-mode),
    var(--color-neutral-1),
    calc(15% * var(--color-neutral-contrast)) var(--color-neutral-mix)
  );

  --color-neutral-4: color-mix(
    var(--color-neutral-mode),
    var(--color-neutral-1),
    calc(25% * var(--color-neutral-contrast)) var(--color-neutral-mix)
  );

  --color-neutral-5: color-mix(
    var(--color-neutral-mode),
    var(--color-neutral-1),
    calc(33% * var(--color-neutral-contrast)) var(--color-neutral-mix)
  );
}
