@import './../media/media.prefers.css';
@import './utils.css';

/* public */

:where(html) {
  --color-accent: color(display-p3 0.1417 0.1865 0.461);
  --color-accent-hex: #21307a;
}

/* default */

:where(html) {
  --color-accent-mode: in oklch shorter hue;
  --color-accent-default: color(display-p3 0.1417 0.1865 0.461);
  --color-accent-default-hex: #21307a;
  --color-accent-contrast: 30;
  --color-accent-contrast-calc: calc(var(--color-accent-contrast) / 100 * 1%);

  @supports (color: AccentColor) {
    --color-accent: AccentColor;
    --color-accent-hex: AccentColor;
  }
}

/* base colors */

:where(html) {
  --color-accent-dark: color-mix(
    in oklab,
    var(--color-accent-hex, var(--color-accent-default-hex)),
    35% black
  );
  --color-accent-light: color-mix(
    in oklab,
    10% var(--color-accent-hex, var(--color-accent-default-hex)),
    white
  );

  @media (--hdr) {
    --color-accent-dark: color-mix(
      in oklab,
      var(--color-accent, var(--color-accent-default-hex)),
      35% black
    );
    --color-accent-light: color-mix(
      in oklab,
      10% var(--color-accent, var(--color-accent-default-hex)),
      white
    );
  }
}

/* dark (default) */

:where(html) {
  --color-accent-start: var(--color-accent-dark);
  --color-accent-end: var(--color-accent-light);

  @media (--contrast) {
    --color-accent-contrast: 40;
    --color-accent-start: color-mix(
      in oklab,
      var(--color-accent, var(--color-accent-default)),
      50% black
    );
  }

  @media (--contrast-reduced) {
    --color-accent-contrast: 7;
  }
}

/* light */

:where(html) {
  @media (--light) {
    --color-accent-contrast: 55;
    --color-accent-start: var(--color-accent-light);
    --color-accent-end: var(--color-accent-dark);
  }

  @media (--light-contrast) {
    --color-accent-contrast: 64;
  }

  @media (--light-contrast-reduced) {
    --color-accent-contrast: 15;
  }
}

/* colors */

:where(html) {
  --color-accent-1: color-mix(
    var(--color-accent-mode),
    var(--color-accent-start),
    calc(var(--color-accent-contrast-calc)) var(--color-accent-end)
  );

  --color-accent-2: color-mix(
    var(--color-accent-mode),
    var(--color-accent-1),
    calc(20 * var(--color-accent-contrast-calc)) var(--color-accent-end)
  );

  --color-accent-3: color-mix(
    var(--color-accent-mode),
    var(--color-accent-1),
    calc(40 * var(--color-accent-contrast-calc)) var(--color-accent-end)
  );

  --color-accent-4: color-mix(
    var(--color-accent-mode),
    var(--color-accent-1),
    calc(60 * var(--color-accent-contrast-calc)) var(--color-accent-end)
  );

  --color-accent-5: color-mix(
    var(--color-accent-mode),
    var(--color-accent-1),
    calc(100 * var(--color-accent-contrast-calc)) var(--color-accent-end)
  );
}

/* color on */

:where(html) {
  --color-on-accent-1: color-mix(
    var(--color-accent-mode),
    calc(var(--color-accent-contrast) * 1% + 70%) var(--color-accent-end),
    transparent
  );

  --color-on-accent-2: color-mix(
    var(--color-accent-mode),
    calc(var(--color-accent-contrast) * 1% + 40%) var(--color-on-accent-1),
    transparent
  );
}
