@import './../media/media.prefers.css';
@import './utils.css';

/* public */

:where(html) {
  --color-positive: color(display-p3 0.01 0.25 0.01);
  --color-positive-hex: #004100;
}

/* default */

:where(html) {
  --color-positive-mode: in oklch shorter hue;
  --color-positive-default: color(display-p3 0.01 0.25 0.01);
  --color-positive-default-hex: #004100;
  --color-positive-contrast: 30;
  --color-positive-contrast-calc: calc(
    var(--color-positive-contrast) / 100 * 1%
  );
}

/* base colors */

:where(html) {
  --color-positive-dark: color-mix(
    in oklab,
    var(--color-positive-hex, var(--color-positive-default-hex)),
    1% black
  );
  --color-positive-light: color-mix(
    in oklab,
    1% var(--color-positive-hex, var(--color-positive-default-hex)),
    white
  );

  @media (--hdr) {
    --color-positive-dark: color-mix(
      in oklab,
      var(--color-positive, var(--color-positive-default)),
      1% black
    );
    --color-positive-light: color-mix(
      in oklab,
      1% var(--color-positive, var(--color-positive-default)),
      white
    );
  }
}

/* dark (default) */

:where(html) {
  --color-positive-start: var(--color-positive-dark);
  --color-positive-end: var(--color-positive-light);

  @media (--contrast) {
    --color-positive-contrast: 40;
    --color-positive-start: color-mix(
      in oklab,
      var(--color-positive, var(--color-positive-default)),
      25% black
    );
  }

  @media (--contrast-reduced) {
    --color-positive-contrast: 7;
  }
}

/* light */

:where(html) {
  @media (--light) {
    --color-positive-contrast: 55;
    --color-positive-start: var(--color-positive-light);
    --color-positive-end: var(--color-positive-dark);
  }

  @media (--light-contrast) {
    --color-positive-contrast: 64;
  }

  @media (--light-contrast-reduced) {
    --color-positive-contrast: 15;
  }
}

/* colors */

:where(html) {
  --color-positive-0: var(--color-positive-start);

  --color-positive-1: color-mix(
    var(--color-positive-mode),
    var(--color-positive-start),
    calc(var(--color-positive-contrast-calc)) var(--color-positive-end)
  );

  --color-positive-2: color-mix(
    var(--color-positive-mode),
    var(--color-positive-1),
    calc(20 * var(--color-positive-contrast-calc)) var(--color-positive-end)
  );

  --color-positive-3: color-mix(
    var(--color-positive-mode),
    var(--color-positive-1),
    calc(40 * var(--color-positive-contrast-calc)) var(--color-positive-end)
  );

  --color-positive-4: color-mix(
    var(--color-positive-mode),
    var(--color-positive-1),
    calc(60 * var(--color-positive-contrast-calc)) var(--color-positive-end)
  );

  --color-positive-5: color-mix(
    var(--color-positive-mode),
    var(--color-positive-1),
    calc(100 * var(--color-positive-contrast-calc)) var(--color-positive-end)
  );
}

/* color on */

:where(html) {
  --color-on-positive-1: color-mix(
    var(--color-positive-mode),
    calc(var(--color-positive-contrast) * 1% + 70%) var(--color-positive-end),
    transparent
  );

  --color-on-positive-2: color-mix(
    var(--color-positive-mode),
    calc(var(--color-positive-contrast) * 1% + 40%) var(--color-on-positive-1),
    transparent
  );
}
