@import './../media/media.prefers.css';
@import './utils.css';

:where(*) {
  --color-surface-contrast: 3;
  --color-surface-default-hex: color-mix(
    var(--color-surface-mode),
    65% black,
    dimgray
  );
  --color-surface-mix-hex: color-mix(
    var(--color-surface-mode),
    35% slategray,
    dimgray
  );
  --color-surface-mode: in oklch shorter hue;

  /* 
   * dark (default)
   */

  --color-surface-default: var(--color-surface-default-hex);
  --color-surface-mix: var(--color-surface-mix-hex);

  @supports (color: Canvas) and (color: CanvasText) {
    --color-surface-default-hex: color-mix(
      var(--color-surface-mode),
      8% dimgray,
      Canvas
    );
    --color-surface-mix-hex: color-mix(
      var(--color-surface-mode),
      dimgray,
      10% CanvasText
    );
  }

  @media (--contrast-reduced) {
    --color-surface-contrast: 1 !important;
  }

  /* light */

  @media (--light) {
    --color-surface-default: var(--color-surface-mix-hex);
    --color-surface-mix: var(--color-surface-default-hex);
    --color-surface-contrast: 1.65;

    @supports (color: Canvas) and (color: CanvasText) {
      --color-surface-default-hex: color-mix(
        var(--color-surface-mode),
        15% black,
        65% Canvas
      );
      --color-surface-mix-hex: color-mix(
        var(--color-surface-mode),
        15% darkgray,
        CanvasText
      );
    }
  }

  @media (--light-contrast-reduced) {
    --color-surface-contrast: 3.35 !important;
  }

  /* color surface definitions */

  --color-surface-1: color-mix(
    var(--color-surface-mode),
    var(--color-surface, var(--color-surface-default)),
    calc(0.1% * var(--color-surface-contrast)) var(--color-surface-mix)
  );

  --color-surface-2: color-mix(
    var(--color-surface-mode),
    var(--color-surface-1),
    calc(7.25% * var(--color-surface-contrast)) var(--color-surface-mix)
  );

  --color-surface-3: color-mix(
    var(--color-surface-mode),
    var(--color-surface-1),
    calc(15% * var(--color-surface-contrast)) var(--color-surface-mix)
  );

  --color-surface-4: color-mix(
    var(--color-surface-mode),
    var(--color-surface-1),
    calc(25% * var(--color-surface-contrast)) var(--color-surface-mix)
  );

  --color-surface-5: color-mix(
    var(--color-surface-mode),
    var(--color-surface-1),
    calc(33% * var(--color-surface-contrast)) var(--color-surface-mix)
  );
}
