@import './../media/media.prefers.css';
@import './utils.css';

:where(html) {
  /* 
   * The only public color `neutral`
   * to customise the color palette is:
   * 
   * --color-neutral
   *
   * In the order of priority: 
   * 1. user (--color-neutral)
   * 2. hdr
   * 3. default
  */

  /* 
   * defaults are used when neither --color-neutral 
   * is set or <color-system> isn't supported
   * https://developer.mozilla.org/en-US/docs/Web/CSS/system-color
   */

  --color-neutral-default-hex: #040415;
  --color-neutral-mix-hex: lightblue;
  --color-neutral-default-p3: color(display-p3 0.02 0.02 0.08);
  --color-neutral-mix-p3: color(display-p3 0.71 0.84 0.89);

  /* 
   * dark (default)
   */

  --color-neutral-default: var(--color-neutral-default-hex);
  --color-neutral-mix: var(--color-neutral-mix-hex);
  --color-neutral-contrast: 3;
  --color-neutral-mode: in oklch shorter hue;

  @media (--hdr) {
    --color-neutral-default: var(--color-neutral-default-p3);
    --color-neutral-mix: var(--color-neutral-mix-p3);
  }

  @media (--contrast-reduced) {
    --color-neutral-contrast: 0.35 !important;
  }

  /* light */

  @media (--light) {
    --color-neutral-default: var(--color-neutral-mix-hex);
    --color-neutral-mix: var(--color-neutral-default-hex);
    --color-neutral-contrast: 3;
  }

  @media (--hdr-light) {
    --color-neutral-default: var(--color-neutral-mix-p3);
    --color-neutral-mix: var(--color-neutral-default-p3);
  }

  @media (--light-contrast-reduced) {
    --color-neutral-contrast: 0.85 !important;
  }

  /* color neutral definitions */

  --color-neutral-1: color-mix(
    var(--color-neutral-mode),
    var(--color-neutral, var(--color-neutral-default)),
    calc(0.1% * var(--color-neutral-contrast)) var(--color-neutral-mix)
  );

  --color-neutral-2: color-mix(
    var(--color-neutral-mode),
    var(--color-neutral-1),
    calc(7.25% * var(--color-neutral-contrast)) var(--color-neutral-mix)
  );

  --color-neutral-3: color-mix(
    var(--color-neutral-mode),
    var(--color-neutral-1),
    calc(15% * var(--color-neutral-contrast)) var(--color-neutral-mix)
  );

  --color-neutral-4: color-mix(
    var(--color-neutral-mode),
    var(--color-neutral-1),
    calc(25% * var(--color-neutral-contrast)) var(--color-neutral-mix)
  );

  --color-neutral-5: color-mix(
    var(--color-neutral-mode),
    var(--color-neutral-1),
    calc(33% * var(--color-neutral-contrast)) var(--color-neutral-mix)
  );
}
