@import './../media/media.prefers.css';
@import './utils.css';

:where(*) {
  --color-negative-contrast: 3;
  --color-negative-default-hex: color-mix(
    var(--color-negative-mode),
    60% maroon,
    black
  );
  --color-negative-mix-hex: color-mix(
    var(--color-negative-mode),
    65% indianred,
    firebrick
  );
  --color-negative-mode: in oklch shorter hue;

  /* 
   * dark (default)
   */

  --color-negative-default: var(--color-negative-default-hex);
  --color-negative-mix: var(--color-negative-mix-hex);

  @media (--contrast-reduced) {
    --color-negative-contrast: 0.35 !important;
  }

  /* light */

  @media (--light) {
    --color-negative-default-hex: color-mix(
      var(--color-negative-mode),
      8% firebrick,
      white
    );
    --color-negative-mix-hex: color-mix(
      var(--color-negative-mode),
      85% maroon,
      darkred
    );
    --color-negative-contrast: 1.65;
  }

  @media (--light-contrast-reduced) {
    --color-negative-contrast: 0.65 !important;
  }

  /* color negative definitions */

  --color-negative-1: color-mix(
    var(--color-negative-mode),
    var(--color-negative, var(--color-negative-default)),
    calc(0.1% * var(--color-negative-contrast)) var(--color-negative-mix)
  );

  --color-negative-2: color-mix(
    var(--color-negative-mode),
    var(--color-negative-1),
    calc(7.25% * var(--color-negative-contrast)) var(--color-negative-mix)
  );

  --color-negative-3: color-mix(
    var(--color-negative-mode),
    var(--color-negative-1),
    calc(15% * var(--color-negative-contrast)) var(--color-negative-mix)
  );

  --color-negative-4: color-mix(
    var(--color-negative-mode),
    var(--color-negative-1),
    calc(25% * var(--color-negative-contrast)) var(--color-negative-mix)
  );

  --color-negative-5: color-mix(
    var(--color-negative-mode),
    var(--color-negative-1),
    calc(33% * var(--color-negative-contrast)) var(--color-negative-mix)
  );
}
