@import './../media/media.prefers.css';
@import './utils.css';

/* public */

:where(html) {
  --color-surface: Canvas;
  --color-surface-hex: Canvas;
}

/* default */

:where(html) {
  --color-surface-mode: in oklch shorter hue;
  --color-surface-default: color(display-p3 0.0706 0.0706 0.0635);
  --color-surface-default-hex: #121210;
  --color-surface-contrast: 30;
  --color-surface-contrast-calc: calc(var(--color-surface-contrast) / 100 * 1%);

  @supports (color: Canvas) {
    --color-surface: Canvas;
    --color-surface-hex: Canvas;
  }
}

/* base colors */

:where(html) {
  --color-surface-dark: color-mix(
    in oklab,
    var(--color-surface-hex, var(--color-surface-default-hex)),
    1% black
  );
  --color-surface-light: color-mix(
    in oklab,
    10% var(--color-surface-hex, var(--color-surface-default-hex)),
    white
  );

  @media (--hdr) {
    --color-surface-dark: color-mix(
      in oklab,
      var(--color-surface, var(--color-surface-default)),
      1% black
    );
    --color-surface-light: color-mix(
      in oklab,
      10% var(--color-surface, var(--color-surface-default)),
      white
    );
  }

  @media (--light) {
    --color-surface-dark: color-mix(
      in oklab,
      var(--color-surface-hex, var(--color-surface-default-hex)),
      65% black
    );
    --color-surface-light: color-mix(
      in oklab,
      var(--color-surface-hex, var(--color-surface-default-hex)),
      1% black
    );
  }
}

/* dark (default) */

:where(html) {
  --color-surface-start: var(--color-surface-dark);
  --color-surface-end: var(--color-surface-light);

  @media (--contrast) {
    --color-surface-contrast: 40;
  }

  @media (--contrast-reduced) {
    --color-surface-contrast: 7;
  }
}

/* light */

:where(html) {
  @media (--light) {
    --color-surface-contrast: 55;
    --color-surface-start: var(--color-surface-light);
    --color-surface-end: var(--color-surface-dark);
  }

  @media (--light-contrast) {
    --color-surface-contrast: 64;
  }

  @media (--light-contrast-reduced) {
    --color-surface-contrast: 15;
  }
}

/* colors */

:where(html) {
  --color-surface-1: color-mix(
    var(--color-surface-mode),
    var(--color-surface-start),
    calc(var(--color-surface-contrast-calc)) var(--color-surface-end)
  );

  --color-surface-2: color-mix(
    var(--color-surface-mode),
    var(--color-surface-1),
    calc(20 * var(--color-surface-contrast-calc)) var(--color-surface-end)
  );

  --color-surface-3: color-mix(
    var(--color-surface-mode),
    var(--color-surface-1),
    calc(40 * var(--color-surface-contrast-calc)) var(--color-surface-end)
  );

  --color-surface-4: color-mix(
    var(--color-surface-mode),
    var(--color-surface-1),
    calc(60 * var(--color-surface-contrast-calc)) var(--color-surface-end)
  );

  --color-surface-5: color-mix(
    var(--color-surface-mode),
    var(--color-surface-1),
    calc(100 * var(--color-surface-contrast-calc)) var(--color-surface-end)
  );
}

/* color on */

:where(html) {
  --color-on-surface-1: var(--color-surface-end);

  --color-on-surface-2: color-mix(
    var(--color-surface-mode),
    var(--color-on-surface-1),
    25% transparent
  );
}
