@import './../media/media.prefers.css';
@import './utils.css';

/* public */

:where(html) {
  --color-surface-mode: in oklch shorter hue;
  --color-surface-dark: #121210;
  --color-surface-dark-contrast: #080807;
  --color-surface-light: #f8fafb;
  --color-surface-contrast: 35;

  @media (--hdr) {
    --color-surface-dark: color(display-p3 0.0706 0.0706 0.0635);
    --color-surface-dark-contrast: color(display-p3 0.0314 0.0314 0.0273);
    --color-surface-light: color(display-p3 0.9731 0.9804 0.9848);
  }
}

/* computed */

:where(html) {
  --color-surface-contrast-calc: calc(var(--color-surface-contrast) / 100 * 1%);
}

/* dark (default) */

:where(html) {
  --color-surface-start: var(--color-surface-dark);
  --color-surface-end: var(--color-surface-light);

  @media (--contrast) {
    --color-surface-contrast: 45;
    --color-surface-start: var(--color-surface-dark-contrast);
  }

  @media (--contrast-reduced) {
    --color-surface-contrast: 5;
  }
}

/* light */

:where(html) {
  @media (--light) {
    --color-surface-contrast: 55;
    --color-surface-start: var(--color-surface-light);
    --color-surface-end: var(--color-surface-dark);
  }

  @media (--light-contrast) {
    --color-surface-contrast: 57;
  }

  @media (--light-contrast-reduced) {
    --color-surface-contrast: 15;
  }
}

/* colors */

:where(html) {
  --color-surface-1: color-mix(
    var(--color-surface-mode),
    var(--color-surface-start),
    calc(var(--color-surface-contrast-calc)) var(--color-surface-end)
  );

  --color-surface-2: color-mix(
    var(--color-surface-mode),
    var(--color-surface-1),
    calc(20 * var(--color-surface-contrast-calc)) var(--color-surface-end)
  );

  --color-surface-3: color-mix(
    var(--color-surface-mode),
    var(--color-surface-1),
    calc(40 * var(--color-surface-contrast-calc)) var(--color-surface-end)
  );

  --color-surface-4: color-mix(
    var(--color-surface-mode),
    var(--color-surface-1),
    calc(60 * var(--color-surface-contrast-calc)) var(--color-surface-end)
  );

  --color-surface-5: color-mix(
    var(--color-surface-mode),
    var(--color-surface-1),
    calc(100 * var(--color-surface-contrast-calc)) var(--color-surface-end)
  );
}
