@import './../media/media.prefers.css';
@import './utils.css';

:root {
  --color-accent: #0c2ed3;
  --color-accent-mix: var(--color-on-surface-1);
  --color-accent-contrast: 55;

  @media (--light) {
    --color-accent: #3553ed;
    --color-accent-contrast: 40;
  }

  /* system colors */
  @supports (color: AccentColor) and (color: AccentColorText) {
    --color-accent: AccentColor;
    --color-accent-mix: AccentColorText;
  }

  /* mix mode and contrast */
  --kolor-accent-mode: in oklch shorter hue;
  --kolor-accent-contrast: calc(var(--color-accent-contrast) / 100 * 1%);
  --kolor-on-accent-contrast: calc(var(--color-accent-contrast) / 100 * 1%);

  /* lightest and darkest colors */
  --kolor-accent-start: color-mix(
    in oklab,
    var(--color-accent),
    1% var(--color-accent-mix)
  );
  --kolor-accent-end: color-mix(
    in oklab,
    10% var(--color-accent),
    var(--color-accent-mix)
  );

  /* system contrasts */
  @media (--contrast) {
    --kolor-accent-contrast: calc(
      var(--color-accent-contrast) / 100 * 1% * 1.85
    );
    --kolor-on-accent-contrast: calc(
      var(--color-accent-contrast) / 100 * 1% * 2
    );
  }

  @media (--contrast-reduced) {
    --kolor-accent-contrast: calc(
      var(--color-accent-contrast) / 100 * 1% * 0.5
    );
    --kolor-on-accent-contrast: calc(
      var(--color-accent-contrast) / 100 * 1% * 0.65
    );
  }

  /* color accent */

  --color-accent-0: var(--kolor-accent-start);

  --color-accent-1: color-mix(
    var(--kolor-accent-mode),
    var(--kolor-accent-start),
    var(--kolor-accent-contrast) var(--kolor-accent-end)
  );

  --color-accent-2: color-mix(
    var(--kolor-accent-mode),
    var(--color-accent-1),
    calc(20 * var(--kolor-accent-contrast)) var(--kolor-accent-end)
  );

  --color-accent-3: color-mix(
    var(--kolor-accent-mode),
    var(--color-accent-1),
    calc(40 * var(--kolor-accent-contrast)) var(--kolor-accent-end)
  );

  --color-accent-4: color-mix(
    var(--kolor-accent-mode),
    var(--color-accent-1),
    calc(80 * var(--kolor-accent-contrast)) var(--kolor-accent-end)
  );

  --color-accent-5: color-mix(
    var(--kolor-accent-mode),
    var(--color-accent-1),
    calc(100 * var(--kolor-accent-contrast)) var(--kolor-accent-end)
  );

  /* color on accent */

  --color-on-accent-1: color-mix(
    var(--kolor-accent-mode),
    var(--kolor-accent-start),
    calc(var(--kolor-on-accent-contrast) * 250) var(--kolor-accent-end)
  );

  --color-on-accent-2: color-mix(
    var(--kolor-accent-mode),
    var(--kolor-accent-start),
    calc(var(--kolor-on-accent-contrast) * 135) var(--kolor-accent-end)
  );
}
