@import './../media/media.prefers.css';
@import './utils.css';

html[data-theme='dark'] {
  --color-positive: darkgreen;
  --color-positive-contrast: 65;
}

html[data-theme='light'] {
  --color-positive: darkseagreen;
  --color-positive-contrast: 50;
}

:root {
  --color-positive: darkgreen;
  --color-positive-mix: var(--color-on-surface-1);
  --color-positive-contrast: 65;

  @media (--light) {
    --color-positive: darkseagreen;
    --color-positive-contrast: 50;
  }

  /* mix mode and contrast */
  --kolor-positive-mode: in oklch shorter hue;
  --kolor-positive-contrast: calc(var(--color-positive-contrast) / 100 * 1%);
  --kolor-on-positive-contrast: calc(var(--color-positive-contrast) / 100 * 1%);

  /* lightest and darkest colors */
  --kolor-positive-start: color-mix(
    in oklab,
    var(--color-positive),
    1% var(--color-positive-mix)
  );
  --kolor-positive-end: color-mix(
    in oklab,
    10% var(--color-positive),
    var(--color-positive-mix)
  );

  /* system contrasts */
  @media (--contrast) {
    --kolor-positive-contrast: calc(
      var(--color-positive-contrast) / 100 * 1% * 1.85
    );
    --kolor-on-positive-contrast: calc(
      var(--color-positive-contrast) / 100 * 1% * 1.85
    );
  }

  @media (--contrast-reduced) {
    --kolor-positive-contrast: calc(
      var(--color-positive-contrast) / 100 * 1% * 0.35
    );
    --kolor-on-positive-contrast: calc(
      var(--color-positive-contrast) / 100 * 1% * 0.35
    );
  }

  /* color positive */

  --color-positive-0: var(--kolor-positive-start);

  --color-positive-1: color-mix(
    var(--kolor-positive-mode),
    var(--kolor-positive-start),
    var(--kolor-positive-contrast) var(--kolor-positive-end)
  );

  --color-positive-2: color-mix(
    var(--kolor-positive-mode),
    var(--color-positive-1),
    calc(20 * var(--kolor-positive-contrast)) var(--kolor-positive-end)
  );

  --color-positive-3: color-mix(
    var(--kolor-positive-mode),
    var(--color-positive-1),
    calc(40 * var(--kolor-positive-contrast)) var(--kolor-positive-end)
  );

  --color-positive-4: color-mix(
    var(--kolor-positive-mode),
    var(--color-positive-1),
    calc(60 * var(--kolor-positive-contrast)) var(--kolor-positive-end)
  );

  --color-positive-5: color-mix(
    var(--kolor-positive-mode),
    var(--color-positive-1),
    calc(100 * var(--kolor-positive-contrast)) var(--kolor-positive-end)
  );

  /* color on positive */

  --color-on-positive-1: color-mix(
    var(--kolor-positive-mode),
    var(--kolor-positive-start),
    calc(var(--kolor-on-positive-contrast) * 250) var(--kolor-positive-end)
  );

  --color-on-positive-2: color-mix(
    var(--kolor-positive-mode),
    var(--kolor-positive-start),
    calc(var(--kolor-on-positive-contrast) * 135) var(--kolor-positive-end)
  );
}
