@import './../media/media.prefers.css';
@import './utils.css';

:root {
  --color-surface: #121210;
  --color-surface-mix: #f4f4f4;
  --color-surface-contrast: 30;

  @media (--light) {
    --color-surface: #f4f4f4;
    --color-surface-mix: #121210;
  }

  /* system colors */
  @supports (color: Canvas) and (color: CanvasText) {
    --color-surface: Canvas;
    --color-surface-mix: CanvasText;
  }

  /* mix mode and contrast */
  --kolor-surface-mode: in oklch shorter hue;
  --kolor-surface-contrast: calc(var(--color-surface-contrast) / 100 * 1%);
  --kolor-on-surface-contrast: calc(var(--color-surface-contrast) / 100 * 1%);

  /* lightest and darkest colors */
  --kolor-surface-start: color-mix(
    in oklab,
    var(--color-surface),
    1% var(--color-surface-mix)
  );
  --kolor-surface-end: color-mix(
    in oklab,
    10% var(--color-surface),
    var(--color-surface-mix)
  );

  /* system contrasts */
  @media (--contrast) {
    --kolor-surface-contrast: calc(
      var(--color-surface-contrast) / 100 * 1% * 3.5
    );
    --kolor-on-surface-contrast: calc(
      var(--color-accent-contrast) / 100 * 1% * 3.65
    );
  }

  @media (--contrast-reduced) {
    --kolor-surface-contrast: calc(
      var(--color-surface-contrast) / 100 * 1% * 0.35
    );

    --kolor-on-surface-contrast: calc(
      var(--color-accent-contrast) / 100 * 1% * 0.35
    );
  }

  /* color surface */

  --color-surface-0: var(--kolor-surface-start);

  --color-surface-1: color-mix(
    var(--kolor-surface-mode),
    var(--kolor-surface-start),
    var(--kolor-surface-contrast) var(--kolor-surface-end)
  );

  --color-surface-2: color-mix(
    var(--kolor-surface-mode),
    var(--color-surface-1),
    calc(20 * var(--kolor-surface-contrast)) var(--kolor-surface-end)
  );

  --color-surface-3: color-mix(
    var(--kolor-surface-mode),
    var(--color-surface-1),
    calc(40 * var(--kolor-surface-contrast)) var(--kolor-surface-end)
  );

  --color-surface-4: color-mix(
    var(--kolor-surface-mode),
    var(--color-surface-1),
    calc(60 * var(--kolor-surface-contrast)) var(--kolor-surface-end)
  );

  --color-surface-5: color-mix(
    var(--kolor-surface-mode),
    var(--color-surface-1),
    calc(100 * var(--kolor-surface-contrast)) var(--kolor-surface-end)
  );

  /* color on surface */

  --color-on-surface-1: color-mix(
    var(--kolor-surface-mode),
    var(--kolor-surface-start),
    calc(var(--kolor-on-surface-contrast) * 350) var(--kolor-surface-end)
  );

  --color-on-surface-2: color-mix(
    var(--kolor-surface-mode),
    var(--kolor-surface-start),
    calc(var(--kolor-on-surface-contrast) * 215) var(--kolor-surface-end)
  );
}
