@import './../media/media.prefers.css';
@import './utils.css';

/* public */

:where(html) {
  --color-neutral-mode: in oklch shorter hue;
  --color-neutral-dark: #053038;
  --color-neutral-dark-contrast: #01181c;
  --color-neutral-light: #e3fafc;
  --color-neutral-contrast: 35;

  @media (--hdr) {
    --color-neutral-dark: color(display-p3 0.0757 0.1848 0.215);
    --color-neutral-dark-contrast: color(display-p3 0.0235 0.0922 0.1079);
    --color-neutral-light: color(display-p3 0.9074 0.9774 0.9858);
  }
}

/* computed */

:where(html) {
  --color-neutral-contrast-calc: calc(var(--color-neutral-contrast) / 100 * 1%);
}

/* dark (default) */

:where(html) {
  --color-neutral-start: var(--color-neutral-dark);
  --color-neutral-end: var(--color-neutral-light);

  @media (--contrast) {
    --color-neutral-contrast: 45;
    --color-neutral-start: var(--color-neutral-dark-contrast);
  }

  @media (--contrast-reduced) {
    --color-neutral-contrast: 15;
  }
}

/* light */

:where(html) {
  @media (--light) {
    --color-neutral-contrast: 55;
    --color-neutral-start: var(--color-neutral-light);
    --color-neutral-end: var(--color-neutral-dark);
  }

  @media (--light-contrast) {
    --color-neutral-contrast: 57;
  }

  @media (--light-contrast-reduced) {
    --color-neutral-contrast: 15;
  }
}

/* colors */

:where(html) {
  --color-neutral-1: color-mix(
    var(--color-neutral-mode),
    var(--color-neutral-start),
    calc(var(--color-neutral-contrast-calc)) var(--color-neutral-end)
  );

  --color-neutral-2: color-mix(
    var(--color-neutral-mode),
    var(--color-neutral-1),
    calc(20 * var(--color-neutral-contrast-calc)) var(--color-neutral-end)
  );

  --color-neutral-3: color-mix(
    var(--color-neutral-mode),
    var(--color-neutral-1),
    calc(40 * var(--color-neutral-contrast-calc)) var(--color-neutral-end)
  );

  --color-neutral-4: color-mix(
    var(--color-neutral-mode),
    var(--color-neutral-1),
    calc(60 * var(--color-neutral-contrast-calc)) var(--color-neutral-end)
  );

  --color-neutral-5: color-mix(
    var(--color-neutral-mode),
    var(--color-neutral-1),
    calc(100 * var(--color-neutral-contrast-calc)) var(--color-neutral-end)
  );
}
