:where(html) {
  --border-width-1: thin;
  --border-width-2: medium;
  --border-width-3: thick;

  --border-inline-width-1: thin;
  --border-inline-width-2: medium;
  --border-inline-width-3: thick;

  --border-block-width-1: thin;
  --border-block-width-2: medium;
  --border-block-width-3: thick;
}
