---
interface Props {
  title: string
}
const props = Astro.props

import IconBrowserChrome from './icons/icon-browser-chrome.astro'
import IconBrowserEdge from './icons/icon-browser-edge.astro'
import IconBrowserFirefox from './icons/icon-browser-firefox.astro'
import IconBrowserSafari from './icons/icon-browser-safari.astro'
import IconCheckmark from './icons/icon-checkmark.astro'
---

<details>
  <summary>
    <h2>{props.title}</h2>

    <ul>
      <li>
        <IconBrowserChrome />
        <IconCheckmark />
        <IconBrowserEdge />
        <IconCheckmark />
      </li>
      <li>
        <IconBrowserFirefox />
        <IconCheckmark />
      </li>
      <li>
        <IconBrowserSafari />
        <IconCheckmark />
      </li>
    </ul>
  </summary>
  <p>
    <slot />
  </p>
</details>

<style>
  details {
    background-color: var(--color-neutral-2);
    border-color: var(--color-neutral-3);
    border-radius: var(--border-radius-2);

    & summary {
      border-color: var(--color-neutral-2);

      &::after {
        margin-inline-start: var(--margin-inline-1);
      }
    }

    & > * {
      padding: var(--padding-1);
    }
  }

  ul,
  li {
    display: flex;
    align-items: center;
  }

  ul {
    list-style: none;
    padding-inline-start: 0;
    column-gap: var(--margin-inline-1);
    margin-inline-start: auto;

    & li {
      --space-multiplier: 0.5;
      padding: var(--padding-block-1) var(--padding-inline-2);
      background-color: var(--color-neutral-1);
      border-radius: var(--border-radius-round);
    }
  }

  svg {
    inline-size: 2rem;
    block-size: auto;
    aspect-ratio: var(--aspect-ratio-square);
  }

  svg:nth-child(even) {
    /* z-index: var(--z-index-background-1); */
    border: var(--border-width-2) solid var(--color-neutral-1);
    background-color: var(--color-neutral-1);
    border-radius: var(--border-radius-round);
    margin-inline-start: calc(-1.165 * var(--margin-inline-1));
  }

  svg:not(:nth-child(even)) {
    border-radius: var(--border-radius-round);
    background-color: var(--color-neutral-1);
    border: var(--border-width-2) solid var(--color-neutral-1);
    z-index: 3;
  }
</style>
