---
import IconDismiss from './icons/icon-dismiss.astro'
import IconNavigation from './icons/icon-navigation.astro'
---

<main-navigation>
  <details open>
    <summary aria-label="main navigation">
      <IconNavigation class="open" />
      <IconDismiss class="close" />
    </summary>
    <nav aria-orientation="vertical">
      <slot />
    </nav>
  </details>
</main-navigation>

<script>
  class MainNavigation extends HTMLElement {
    wasMobile = false
    isMobile = false
    trigger = this.querySelector('summary')!
    details = this.querySelector('details')!

    constructor() {
      super()
      this.addEventListener('keyup', e => this.onEscape(e))
      this.addEventListener('keydown', e => this.onFocus(e))
      this.trigger.addEventListener('click', e => this.setToggle())
      window.addEventListener('resize', () => this.onResize())
    }

    connectedCallback() {
      this.onResize()
    }

    onResize() {
      // @todo use custom media
      // @warn shall match css breakpoint
      this.isMobile = window.matchMedia('(0px <= width <= 501px)').matches

      if (!this.isMobile) {
        this.details.toggleAttribute('open', true)
        this.setToggle(false)
      } else if (!this.wasMobile && this.isMobile) {
        this.details.toggleAttribute('open', false)
      }

      this.wasMobile = this.isMobile
    }

    onEscape(e: KeyboardEvent) {
      if (e.code === 'Escape') {
        this.setToggle(false)
        this.details.toggleAttribute('open', false)
        this.trigger.focus()
      }
    }

    onFocus(e: KeyboardEvent) {
      if (!this.isMobile || e.code !== 'Tab') {
        return
      }

      const s = `details[open] > ul li a[href]:not([disabled]), details[open] summary`
      const els = [...this.querySelectorAll<HTMLAnchorElement>(s)]
      const first = els.at(0)
      const last = els.at(-1)

      if (e.shiftKey) {
        if (document.activeElement === first) {
          last?.focus()
          e.preventDefault()
        }
      } else if (document.activeElement === last) {
        first?.focus()
        e.preventDefault()
      }
    }

    setToggle(toggled?: boolean) {
      document.body.toggleAttribute('data-mobile-main-navigation-on', toggled)
    }
  }

  customElements.define('main-navigation', MainNavigation)
</script>

<style>
  details :global(details),
  details :global(details summary) {
    border-color: transparent !important;
  }

  :global(body[data-mobile-main-navigation-on]) {
    overflow: hidden;
  }

  main-navigation {
    display: contents;
  }

  details {
    overflow: auto;
    z-index: var(--z-index-2);
    max-block-size: max-content;
    border-color: transparent;
    border-inline-end: var(--border-width-1) solid var(--color-surface-3);

    @media (--breakpoint-sm-n-above) {
      padding-block: var(--padding-block-1);
      padding-inline: var(--padding-inline-1);
    }

    @media (--breakpoint-sm-only) {
      grid-template-rows:
        calc((var(--line-height-1) + var(--padding-block-2) * 2) - 1px)
        1fr;
      grid-area: heading;
      margin-inline-start: auto;

      & .close {
        display: none;
      }

      &[open] {
        display: grid;
        position: fixed;
        inset: 0;
        max-block-size: initial;
        z-index: var(--z-index-2);
        background-color: var(--color-surface-1);
        padding-block-end: calc(
          var(--line-height-2) + var(--space-block-1) * 2
        );

        & .close {
          display: block;
        }

        & .open {
          display: none;
        }

        & summary {
          z-index: var(--z-index-1);
          position: sticky;
          top: 0;
          margin-inline-end: var(--margin-inline-1);
          margin-inline-start: auto;
        }

        & nav {
          /* align perfectly .. */
          margin-block-start: calc(var(--padding-block-1) + 0.5px);
          padding-block-start: var(--padding-block-1);
          border-block-start: var(--border-width-1) solid var(--color-surface-3);
          padding-inline: calc(3 * var(--padding-inline-1));
        }
      }
    }

    & summary {
      pointer-events: none;
      display: none;

      @media (--breakpoint-sm-only) {
        pointer-events: initial;
        display: flex;
        padding: 0;
        place-content: center;
        margin-inline-end: var(--margin-inline-1);
        margin-block-start: var(--margin-block-1);

        background-color: var(--color-surface-5);
        border-radius: var(--border-radius-round);
        border: var(--border-width-1) solid var(--color-surface-3);

        font-size: var(--font-size-2);
        inline-size: var(--line-height-2);
        block-size: var(--line-height-2);

        &::after {
          content: none;
        }
      }
    }
  }
</style>
